

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Rdv", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
<table border="2" class="table" cellpadding="7">
    <tr>
        <td>Identifiant</td>
        <th>Date</th>

        <th>Sujet</th>
        <th>Desciption</th>
        <th>Etat</th>

    </tr>
    @foreach (var p in ViewBag.result)
    {
        <tr>
            <td>@p.id</td>
            <td>@p.date</td>

            <td>@p.sujet</td>
            <td>@p.desciption</td>
            <td>@p.etat</td>
            
            <td>
                <div class="col-lg-3 action">
                    <div class="row ">
                        @Html.ActionLink("GenerateReport", "GenerateReport", new { id = p.id })
                    </div>

                </div>
            </td>



        </tr>
    }
</table>

