@model IEnumerable<Web.Models.RdvViewModel>

@{
    ViewBag.Title = "Index";
   
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desciption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sujet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @item.date
        </td>
        <td>
            @item.desciption
        </td>
        <td>
            @item.sujet
        </td>
        <td>
            @item.etat
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new {  id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id })
        </td>
    </tr>
}

</table>
